<!DOCTYPE html>
<html lang="en">

<head>
    {% include "../style.html" %}
    {% include "./sidebar.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>from URL | Text Summary | Atom State</title>
    <main class="col-lg-9">
        <h2 class="text-center">from URL | Text Summary | Atom State</h2>

        <hr>
        <form action="upload_URL" method="post" class="container card p-2">
            {%csrf_token%}
            <br>
            <textarea class="form-control m-2 col-md-6" name="frm_URL">
Replce your URL here
            </textarea>

            <br />
            <input type="submit" name="submit" value="summarize" class="btn btn-primary col-md-4" />
        </form>
    </main>
    </div>
    </section>

    </div>

    </body>

</html>